data/config/Library/Application Support/Plex Media Server/Cache
data/config/Library/Application Support/Plex Media Server/Crash Reports
data/config/Library/Application Support/Plex Media Server/Logs
data/threadfin/backup
data/threadfin/cache/images
